.cardContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
    max-width: 1660px;
    margin: 40px auto;
  }

  .typeContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
  }

  .none {
    height: 200px;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  .cardImg {
    transform: scale(1);
    transition: transform 1s;
  }

  .cardImg:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }

  .cardInfo {
    font-family: 'ONE-Mobile-POP';
    font-size: 20px;
    margin-top: 20px;
  }

  .title {
    text-align: center;
    padding: 50px 0;
    font-family: 'K2D';
    font-weight: bold;
    font-size: 60px;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 150px;
    background-color: #fff;
  }
  
  .cardImage {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
  }

  .pagination {
    display: flex;
    flex-flow: row column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /* 포켓몬 타입 CSS */

  .typeGrass {
    background-image: url('/public/img/types/grass.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeFire {
    background-image: url('/public/img/types/fire.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeLightning {
    background-image: url('/public/img/types/lightning.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typePsychic {
    background-image: url('/public/img/types/psychic.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeFighting {
    background-image: url('/public/img/types/fighting.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeDarkness {
    background-image: url('/public/img/types/darkness.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeMetal {
    background-image: url('/public/img/types/metal.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeDragon {
    background-image: url('/public/img/types/dragon.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeColorless {
    background-image: url('/public/img/types/colorless.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeButton {
    background-image: url('/public/img/pngegg.png');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeWater {
    background-image: url('/public/img/types/water.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  .typeFairy {
    background-image: url('/public/img/types/colorless.svg');
    background-size: cover;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 0px;
    margin: 20px;
  }
  
  .searchContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
    max-width: 1660px;
    margin: 0 auto;
  }

  .searchInput {
    border-radius: 15px;
    border: none;
    width: 80%;
    padding: 0 20px;
    outline: none;
    font-size: 20px;
    height: 50px;
  }

  .searchButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
  }
  .search_i {
    cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png) 14 0, pointer !important;
  }

  .btn {
    margin: 20px;
    border: none;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 0px 0px 3px black;
    border-radius: 20px;
  }