.cardContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
  }

  .none {
    height: 200px;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  .cardImg {
    transform: scale(1);
    transition: transform 1s;
  }

  .cardImg:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }

  .cardInfo {
    font-family: 'ONE-Mobile-POP';
    font-size: 20px;
    margin-top: 20px;
  }

  .title {
    text-align: center;
    padding: 50px 0;
    font-family: 'K2D';
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 150px;
    background-color: #fff;
  }
  
  .cardImage {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  button {
    margin: 8px;
    padding: 8px 16px;
    font-size: 16px;
  }
  