:root {
    --white: #fffaf0;
    --sky-fallback: #654ea3;
    --sky-webkit: -webkit-linear-gradient(to bottom, #fcf3d8 30%, #eaafc8, #654ea3);
    --sky: linear-gradient(to top, #fcf3d8 30%, #eaafc8, #654ea3);
    --scene-size: 450px;
    --num-mountains: 8;
    --hill: #82d9a2;
    --head-radius-top: 50% 25px;
    --head-radius-bottom: 18px;
    --bulbasaur-body: #45d8bd;
    --bulb: #00d6ba;
    --bulb-dark: #00c0a8;
    --pika-body: #fff069;
    --pika-brown: #9c5200;
    --moon-size: 75px;
    --flight: 15s;
    --sparkle-colors: #fffce6, #ffeefc, #f3ffe4, #e9fbff;
  }
  
  body {
    background-color: var(--white);
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    background-image: var(--sky);
    background-image: var(--sky-webkit);
    background-color: var(--sky-fallback);
    height: var(--scene-size);
    width: var(--scene-size);
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 125vh;
    overflow: hidden;
  }
  
  .mountainRange {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .mountain {
    width: 0;
    height: 0;
    margin-left: -60%;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 75px solid #93a8cd;
  }
  
  .mountain:nth-child(1) {
    border-bottom: 200px solid #93a8cd;
    margin-top: 20px;
  }
  
  .mountain:nth-child(2) {
    border-bottom: 180px solid #93a8cd;
    margin-top: 30px;
  }
  
  .mountain:nth-child(3) {
    border-bottom: 170px solid #93a8cd;
    margin-top: 25px;
  }
  
  .mountain:nth-child(4) {
    border-bottom: 160px solid #93a8cd;
    margin-top: 20px;
  }
  
  .mountain:nth-child(5) {
    border-bottom: 150px solid #93a8cd;
    margin-top: 15px;
  }
  
  .mountain:nth-child(6) {
    border-bottom: 140px solid #93a8cd;
    margin-top: 10px;
  }
  
  .mountain:nth-child(7) {
    border-bottom: 130px solid #93a8cd;
    margin-top: 5px;
  }
  
  .mountain:nth-child(8) {
    border-bottom: 120px solid #93a8cd;
  }
  
  .forest {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 65%;
  }
  
  .hill {
    position: absolute;
    background-color: var(--hill);
  }
  
  .hill:nth-child(1) {
    width: 600px;
    height: 300px;
    top: -10px;
    left: -150px;
    border-radius: 300px / 150px;
  }
  
  .hill:nth-child(2) {
    width: 500px;
    height: 250px;
    top: -5px;
    left: 100px;
    border-radius: 250px / 125px;
  }
  
  .hill:nth-child(3) {
    width: 500px;
    height: 250px;
    top: 17px;
    left: -180px;
    border-radius: 250px / 125px;
  }
  
  .grass {
    position: absolute;
    width: 600px;
    height: 300px;
    border-radius: 300px / 150px;
    top: 75%;
    left: -100px;
    background: var(--hill);
    box-shadow: inset 20px 30px 60px #4c82a2;
  }
  
  .pokemon {
    position: absolute;
    width: 300px;
    height: 110px;
    left: calc(53% - 150px);
  }
  
  .poke {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
  #bulbasaur:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    top: 50px;
    left: 15px;
    transform: rotate(-15deg);
  }
  
  #bulbasaur .head {
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: var(--bulbasaur-body);
    border-top-left-radius: var(--head-radius-top);
    border-top-right-radius: var(--head-radius-top);
    border-bottom-left-radius: var(--head-radius-bottom);
    border-bottom-right-radius: var(--head-radius-bottom);
    left: 55px;
  }
  
  #bulbasaur .ear {
    position: absolute;
    height: 20px;
    width: 23px;
    background-color: var(--bulbasaur-body);
    border-top-left-radius: 50px 90px;
    border-top-right-radius: 50px 90px;
    transform-origin: center bottom;
  }
  
  #bulbasaur .ear:nth-child(1) {
    transform: rotate(-45deg);
    left: 52px;
    top: -5px;
    animation: rotateLeftBulbEar 2s alternate infinite;
  }
  
  #bulbasaur .ear:nth-child(2) {
    transform: rotate(45deg);
    left: 87px;
    top: -5px;
    animation: rotateRightBulbEar 2s alternate infinite;
  }
  
  #bulbasaur .bulbaBody {
    position: relative;
    width: 65px;
    height: 55px;
    background-color: var(--bulbasaur-body);
    left: 42px;
    top: 20px;
    border-radius: 100%;
    box-shadow: inset 10px -10px #3fb8a2;
    animation: bodyBreathe 2s alternate infinite;
  }
  
  #bulbasaur .bulbaBody:before,
  #bulbasaur .bulbaBody:after {
    content: '';
    position: absolute;
  }
  
  #bulbasaur .bulbaBody:before {
    width: 10px;
    height: 13px;
    top: 33px;
    left: 8px;
    background-color: #34a893;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    border-top-left-radius: 50%;
    transform: rotate(-45deg);
  }
  
  #bulbasaur .bulbaBody:after {
    width: 8px;
    height: 8px;
    top: 30px;
    left: 53px;
    background-color: #3bb3a0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    border-top-left-radius: 50%;
    transform: rotate(65deg);
  }
  
  #bulbasaur .leg {
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: var(--bulbasaur-body);
    border-bottom-left-radius: 35px 110%;
    border-bottom-right-radius: 35px 110%;
    box-shadow: inset 10px -20px #41a6a0;
    left: 90px;
    top: 30px;
  }
  
  #bulbasaur .bulbs {
    position: absolute;
    top: -1px;
    width: 55px;
    height: 55px;
    left: 50px;
    transform-origin: center;
    transform: rotate(45deg);
    z-index: 3;
    animation: bulbaBreathe 2s alternate infinite;
  }
  
  #bulbasaur .bulbs:before,
  #bulbasaur .bulbs:after {
    content: '';
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 0 50% 50% 50%;
  }
  
  #bulbasaur .bulbs:before {
    transform: translate(-5px, 10px) rotate(7deg);
    background-color: #00a89a;
  }
  
  #bulbasaur .bulbs:after {
    transform: translate(10px, -5px) rotate(-7deg);
    background-color: #00b1a1;
  }
  
  #bulbasaur .bulb {
    position: absolute;
    top: 10px;
    right: 2px;
    left: 3px;
    width: 90%;
    height: 90%;
    border-radius: 0 50% 100% 50%;
    background-color: var(--bulb-dark);
    z-index: 4;
    box-shadow: inset 1px -5px #009c96;
  }
  
  #pikachu {
    left: -0.1em;
  }
  
  #pikachu:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    top: 50px;
    left: 115px;
    transform: rotate(40deg);
  }
  
  #pikachu .ear {
    position: absolute;
    height: 40px;
    width: 18px;
    background-color: var(--pika-body);
    border-top-left-radius: 60px 150px;
    border-top-right-radius: 60px 150px;
    transform-origin: center bottom;
    overflow: hidden;
  }
  
  #pikachu .ear:nth-child(1) {
    transform: rotate(-35deg);
    left: 125px;
    top: -35px;
    animation: rotateLeftEar 1s alternate infinite;
  }
  
  #pikachu .ear:nth-child(1):after {
    content: '';
    position: absolute;
    background-color: #444;
    width: 150%;
    height: 15px;
    left: -8px;
    transform: rotate(-30deg);
  }
  
  #pikachu .ear:nth-child(2) {
    transform: rotate(50deg);
    left: 157px;
    top: -30px;
    animation: rotateRightEar 1s alternate infinite;
  }
  
  #pikachu .ear:nth-child(2):after {
    content: '';
    position: absolute;
    background-color: #444;
    width: 150%;
    height: 15px;
    left: 2px;
    transform: rotate(30deg);
  }
  
  #pikachu .hand {
    position: absolute;
    height: 38px;
    width: 15px;
    background-color: var(--pika-body);
    border-top-left-radius: 60px 150px;
    border-top-right-radius: 60px 150px;
    transform-origin: center bottom;
    left: 123px;
    top: 5px;
    z-index: 5;
    transform: rotate(-40deg);
    animation: pikaPat 0.7s alternate infinite;
  }
  
  #pikachu .head {
    position: absolute;
    width: 60px;
    height: 45px;
    background-color: var(--pika-body);
    border-top-left-radius: var(--head-radius-top);
    border-top-right-radius: var(--head-radius-top);
    border-bottom-left-radius: var(--head-radius-bottom);
    border-bottom-right-radius: var(--head-radius-bottom);
    left: 120px;
    width: 60px;
    height: 55px;
    top: -12px;
  }
  
  #pikachu .pikaBody {
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--pika-body);
    left: 122px;
    top: 20px;
    border-radius: 22px;
  }
  
  #pikachu .pikaBody:before,
  #pikachu .pikaBody:after {
    content: '';
    position: absolute;
    background-color: var(--pika-brown);
    width: 70%;
    height: 7px;
    left: 13px;
    border-radius: 100%;
  }
  
  #pikachu .pikaBody:before {
    top: 15px;
    z-index: 2;
  }
  
  #pikachu .pikaBody:after {
    top: 30px;
  }
  
  #pikachu .pikaTail {
    position: absolute;
    height: 25px;
    width: 16px;
    background: var(--pika-brown);
    border-radius: 5px;
    left: 150px;
    top: 40px;
    transform-origin: bottom center;
    transform: rotate(55deg);
    box-shadow: -2px 2px 1px rgba(68, 68, 68, 0.2);
    z-index: 2;
    animation: rotateTail 2s alternate infinite;
  }
  
  #pikachu .pikaTail:before,
  #pikachu .pikaTail:after {
    content: '';
    transform-origin: bottom center;
    position: absolute;
    background-color: var(--pika-body);
  }
  
  #pikachu .pikaTail:before {
    height: 1.45rem;
    width: 1.4rem;
    top: -2rem;
    left: 0.25rem;
    transform: rotate(-90deg);
    border: 1px solid var(--pika-brown);
    border-bottom-right-radius: 5px;
    z-index: 4;
    border-top: 1px solid var(--pika-body);
  }
  
  #pikachu .pikaTail:after {
    background: var(--pika-body);
    height: 3rem;
    width: 2rem;
    top: -2.8rem;
    left: -2.5rem;
    border-radius: 5px 5px 0 5px;
    border: 1px solid var(--pika-brown);
  }
  
  .moon {
    position: absolute;
    width: var(--moon-size);
    height: var(--moon-size);
    background: linear-gradient(135deg, #ffffff, #ffefba);
    border: 5px solid var(--white);
    top: 10%;
    left: calc(50% - 45px);
    padding: 0;
    border-radius: 100%;
  }
  
  .moon li {
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(45deg, rgba(255, 250, 240, 0.1), #e4d6ac);
  }
  
  .moon li:nth-child(1) {
    width: 20px;
    height: 20px;
    left: 5px;
    top: 30px;
  }
  
  .moon li:nth-child(2) {
    width: 35px;
    height: 35px;
    left: 35px;
    top: 35px;
  }
  
  .moon li:nth-child(3) {
    width: 25px;
    height: 25px;
    left: 25px;
    top: 5px;
  }
  
  .sparkles {
    position: absolute;
    width: 120%;
    height: 190px;
    top: 30%;
    left: -45px;
  }
  
  .sparkle {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: var(--sparkle-colors);
    box-shadow: 0px 0px 10px var(--sparkle-colors);
  }
  
  .one {
    left: 0;
    top: 0;
    animation: flyOne 15s infinite;
  }
  
  .two {
    right: 0;
    animation: flyTwo 15s infinite 2.7s;
  }
  
  .three {
    left: 0;
    top: 100%;
    animation: flyThree 15s infinite 1.4s;
  }
  
  .four {
    right: 0;
    top: 100%;
    animation: flyFour 15s infinite 5.8s;
  }
  
  .five {
    left: 0;
    top: 50%;
    animation: flyFive 15s infinite 8.7s;
  }
  
  .six {
    right: 0;
    top: 50%;
    animation: flySix 15s infinite 10.6s;
  }
  
  .seven {
    left: 0;
    top: 25%;
    animation: flySeven 15s infinite 5s;
  }
  
  .eight {
    right: 0;
    top: 25%;
    animation: flyEight 15s infinite 1.6s;
  }
  
  @keyframes pikaPat {
    from {
      transform: rotate(-40deg);
    }
    to {
      transform: rotate(-50deg);
    }
  }
  
  @keyframes rotateTail {
    from {
      transform: rotate(55deg);
    }
    to {
      transform: rotate(65deg);
    }
  }
  
  @keyframes rotateLeftEar {
    from {
      transform: rotate(-35deg);
    }
    to {
      transform: rotate(-40deg);
    }
  }
  
  @keyframes rotateRightEar {
    from {
      transform: rotate(50deg);
    }
    to {
      transform: rotate(60deg);
    }
  }
  
  @keyframes bulbaBreathe {
    from {
      transform: rotate(45deg) scale(1);
    }
    to {
      transform: rotate(45deg) scale(1.01);
    }
  }
  
  @keyframes bodyBreathe {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  
  @keyframes rotateLeftBulbEar {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(-55deg);
    }
  }
  
  @keyframes rotateRightBulbEar {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(55deg);
    }
  }
  
  @keyframes flyOne {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(270px, 75px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flyTwo {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(-270px, 75px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flyThree {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(270px, -75px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flyFour {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(-270px, -75px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flyFive {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(270px, 0px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flySix {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(-270px, 0px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flySeven {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(270px, 37px) scale(0);
      opacity: 0;
    }
  }
  
  @keyframes flyEight {
    95% {
      opacity: 1;
    }
    100% {
      transform: translate(-270px, 37px) scale(0);
      opacity: 0;
    }
  }
  