.container {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 20px;
    padding: 30px 40px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px black;
    width: 80%;
    max-width: 1000px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  
.container table thead tr th{
      border: 1px solid black;
      font-size: 20px;
  }

  .container table tbody tr td {
      padding: 10px 10px;
  }

  .page{
    height: 50px;
    text-align: center;
  }
  .page tr td a{
    padding: 20px;
  }