.App {
  text-align: center;
background-image: url(/public/video/background.mp4);
min-width: 1136px;
max-height: 100%;
}
.container{
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}


.cardContainer {
  max-height: 780px; 
  width: 35%;
  max-width: 730px;
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-wrap: wrap; /* Ensure cards stay in a single row */
  justify-content: flex-start; /* Start from the left */
  gap: 20px;
  padding: 10px;
  overflow: auto;
}
.cardContainer::-webkit-scrollbar {
  width: 0; /* 스크롤바 너비를 0으로 설정하여 숨기기 */
  background: transparent; /* 스크롤바 배경을 투명하게 설정 */
}
.cardContainer .card {
  flex: 0 0 auto; /* Allow cards to shrink to fit content */
  padding: 10px;
  width: 30%;
  background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
    5px 12px 15px -10px rgba(0, 0, 0, 0.5);
}

.cardContainer .card img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cardContainer .card h2 {
  font-size: 18px;
  margin: 10px 0;
}
.selectedCardContainer {
  display: flex;
  flex-wrap: nowrap; /* Ensure cards stay in a single row */
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px;
  padding: 10px 0;
}

.selectedCardContainer .card {
  flex: 0 0 auto; /* Allow cards to shrink to fit content */
  padding: 10px;
  width: 30%; /* Set a fixed width for each card */
  background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
    5px 12px 15px -10px rgba(0, 0, 0, 0.5);
}

.selectedCardContainer .card img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.selectedCardContainer .card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.myCardArea {
  padding: 0;
  max-width: 700px;
  width: 35%;
}

/* ========================================================================= */

.card2 {
  width: 320px;
  height: 446px;
  background-image: url("/public/img/pokemon1.png"); /* 수정된 배경 이미지 경로 */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: -3px -3px 3px 0 rgba(38, 230, 247, 0.3),
    3px 3px 3px 0 rgba(247, 89, 228, 0.3),
    0px 0px 6px 2px rgba(255, 231, 89, 0.3),
    0px 35px 25px -15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px;
  animation: haloCard 15s ease infinite;

}

.card2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(0, 231, 255) 30%,
    rgb(255, 0, 231) 70%
  );
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  z-index: 1;
  animation: halaGradient 15s ease infinite;
}

.card2::after {
  /* 수정된 부분: 반짝이는 효과 이미지 적용 */
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),url("https://assets.codepen.io/13471/holo.png");
  background-size: 180%;
  position: center;
  mix-blend-mode: color-dodge;
  opacity: 1;
}

.card2::before {
  /* 수정된 부분: 배경 그라데이션 수정 */
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    rgb(0, 231, 255) 30%,
    rgb(255, 0, 231) 70%
  );
}

.card2.active::before {
  opacity: 1;
  animation: none;
  transition: none;

  /* 수정된 부분: 활성화된 상태의 배경 그라데이션 색상 */
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 25%,
    rgb(0, 231, 255, 0.7) 45%,
    rgb(255, 0, 231, 0.7) 55%,
    transparent 70%,
    transparent 100%
  );
}



  
  /* box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4),
    0 25px 15px -10px rgba(0, 0, 0, 0.5); */


.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 45px;
}


.typeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.typeContainer a {
  display: inline-block;
  width: 100%; /* 원하는 크기로 조정 */
  height: 100%; /* 원하는 크기로 조정 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  text-indent: -9999px; /* 텍스트 숨기기 */
}


/* --------------------------------------------------------------------------------- */

.nav{
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
width: 100%;
height: 100px;
border-bottom: 1px solid #FFF ;
}
.typeColor{
  background-color: #5185C5;
  width: 80px;
}
.allTypes{
  background-image: url(/public/img/mainPokeball.png);
  width: 60px;
  height: 60px;
  background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTypes {
  width: 40px;
  height: 40px;

  margin: 0px 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navTypes:hover , .allTypes:hover {
  transform: scale(1.2); /* 1.1배 확대 */
  transition: transform 0.3s ease-in-out; /* 변환 효과 부드럽게 적용 */
}

.typeName.Colorless{
  color: #949495;
  
}
.typeName.Darkness{
  color:#4C4948 ;
}
.typeName.Dragon{
  color: #535CA8;
}
.typeName.Fairy{
  color: #DAB4D4;
}
.typeName.Fighting{
  color: #E09C40;
}
.typeName.Fire{
  color:#E56C3E;
}
.typeName.Grass{
  color:#66A945 ;
}
.typeName.Lightning{
  color: #FBB917;
}
.typeName.Metal{
  color:#69A9C7 ;
}
.typeName.Psychic{
  color:#DD6B7B ;
}
.typeName.Water{
  color:#5185C5 ;
}
.allTypeBtn{
  display: flex;
  flex-flow: column nowrap;
}
.customFont {
  font-family: "Source Code Pro";

  text-transform: uppercase;
  letter-spacing: 3px;
}
.navTypesAll{
  display: flex;
  flex-flow: column;
  align-items: center;

}

/* --------------------------------------------------------------------------------------- */
/* styles.module.css */

.settingContainer {
  margin-top: 20px;
  padding: 20px;
background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
    5px 12px 15px -10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #0057b35b 0%, rgba(255, 0, 0, 0) 100%);
height: auto;
  width: auto;
}
.settingContainer > h2{
  font-family: "Source Code Pro";

  text-transform: uppercase;
  letter-spacing: 3px;
}
.trainerSettingContainer{
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.233) 0%, rgba(255, 0, 0, 0) 100%);
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
  5px 12px 15px -10px rgba(0, 0, 0, 0.5);
  height: 303.49px;
  width: auto;
}

.trainerSettingContainer > h2{
  font-family: "Source Code Pro";

  text-transform: uppercase;
  letter-spacing: 3px;
}
.userInfoContainer{
  display: flex;
  flex-flow: row nowrap;
}
.userImg{

  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 25%,
    rgb(0, 231, 255, 0.7) 45%,
    rgb(255, 0, 231, 0.7) 55%,
    transparent 70%,
    transparent 100%
  );
  border-radius: 15px;
  width: 180px;
  height: 180px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */
.rankImage1{
background-image: url(/public/img/rank/pokeBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;

}
.rankImage2{
background-image: url(/public/img/rank/greatBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;

}
.rankImage3{
background-image: url(/public/img/rank/ultraBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;

}
.rankImage4{
background-image: url(/public/img/rank/duskBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;

  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;

}
.rankImage5{
background-image: url(/public/img/rank/timerBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;

}
.rankImage6{
background-image: url(/public/img/rank/masterBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;

}
/* ----------------------------------------------------------------------------------------------- */
.userNick{
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.nick , .victory{
  font-family: "Source Code Pro";
color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
}
 .ptag{
  font-family: "Source Code Pro";
margin: 0;
  line-height: 1.35em;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 33px;
  color: #FFF;
}
.h2, .p{
  color: #FFF;
}
/* ---------------------------------------------------------------------------------------- */
.card,
.selectedCard {
    font-family: "Source Code Pro";
    /* text-transform: uppercase; */
    letter-spacing: 3px; 
}

.conponents{
  display: flex;
  flex-flow: column nowrap;
}
/* ---------------------------------------------------------------------------------------------------------------------- */
.userImage1,
.userImage2,
.userImage3,
.userImage4,
.userImage5,
.userImage6,
.trainer {
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 100%; 
  height: 100%; 
}

.userImage1 {
  background-image: url('/public/img/user/userImage1.png');
}

.userImage2 {
  background-image: url('/public/img/user/userImage2.png');
}

.userImage3 {
  background-image: url('/public/img/user/userImage3.png');
}

.userImage4 {
  background-image: url('/public/img/user/userImage4.png');
}

.userImage5 {
  background-image: url('/public/img/user/userImage5.png');
}

.userImage6 {
  background-image: url('/public/img/user/userImage6.png');
}

.trainer{
  background-image: url(/public/img/trainer.png);
}

/* ---------------------------------------------------------------------------------------------------------------------- */
.trainerRankImg{
  background-image: url(/public/img/trainerBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
.range{
  width: 100%;
}
.range {
  -webkit-appearance: none; /* 웹킷 브라우저에서 기본 스타일 제거 */
  width: 100%; /* 슬라이더 너비 */
  height: 8px; /* 슬라이더 트랙의 두께 */
  background: #ddd; /* 슬라이더 트랙 배경 색상 */
  border-radius: 5px; /* 슬라이더 트랙의 둥근 모서리 */
  outline: none; /* 슬라이더 포커스 시 외곽선 제거 */
  cursor: pointer; /* 커서 모양 변경 */
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none; /* 웹킷 브라우저에서 기본 핸들 스타일 제거 */
  width: 24px; /* 핸들의 너비 */
  height: 24px; /* 핸들의 높이 */
  background: url('/public/img/pokemonImage.png') no-repeat center; /* 핸들의 배경 이미지 */
  background-size: cover; /* 이미지 크기 조절 */
  border-radius: 50%; /* 핸들을 둥글게 */
  cursor: pointer; /* 커서 모양 변경 */
}
/* ---------------------------------------------------------------------------------------------------------- */

.rankContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative; /* 부모 요소에 상대적 위치를 설정하여 자식 요소의 절대 위치를 기준으로 설정 */
}

.rankImage {
  width: 50px; /* 적절한 크기로 설정 */
  height: 50px; /* 적절한 크기로 설정 */
  background-size: cover;
  position: relative; /* 툴팁 위치를 요소를 기준으로 설정하기 위해 필요 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 애니메이션 추가 */
  border-radius: 100%;
}



/* 호버 상태 스타일 */
.rankImage:hover {
  transform: scale(1.1); /* 요소를 10% 확대 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
  border-radius: 100%;
}

/* 툴팁 스타일 */
.tooltip {
  position: absolute;
  bottom: 125%; /* 툴팁이 요소 위에 위치하도록 설정 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 10;

}

.rankImage:hover .tooltip {
  opacity: 1;
  visibility: visible;

}


.pokemonSearch{
  width: 100%;
  background-color: transparent;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #FFF;
  outline: none; 
  color: #FFF;
  margin-bottom: 8px;
font-family: "Source Code Pro";
font-weight: 100;
  letter-spacing: 3px;
}
.pokemonSearch:focus{
  outline: none;
}
.pokemonSearch::placeholder{
  color: #FFF;
}
/* ------------------------------------------------------------------------------------------------------------------ */

.App {
  position: relative;
  height: 100vh;
}

.backgroundWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* 검은색 배경에 50% 투명도 추가 */
  height: 100vh;
}

.button{
  border: none;
  background-color: transparent;
  color: #FFF;
}


@media (max-width:1524px ){
  .navTypes {
    width: 30px;
    height: 30px;
  
    margin: 0px 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .settingContainer {
    margin-top: 20px;
    padding: 20px;
  background-color: transparent;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
      5px 12px 15px -10px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to bottom, #0057b35b 0%, rgba(255, 0, 0, 0) 100%);
  height: 30%;
    width: 250px;
  }
  .trainerSettingContainer {
    margin-top: 20px;
    padding: 20px;
  background-color: transparent;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
      5px 12px 15px -10px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0.233) 0%, rgba(255, 0, 0, 0) 100%);
      height: 30%;
    width: 250px;
  }
  .rankContainer {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative; /* 부모 요소에 상대적 위치를 설정하여 자식 요소의 절대 위치를 기준으로 설정 */
  }
  .rankImage {
    width: 100%; /* 적절한 크기로 설정 */
    height: 36.67px; /* 적절한 크기로 설정 */
    background-size: cover;
    position: relative; /* 툴팁 위치를 요소를 기준으로 설정하기 위해 필요 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 애니메이션 추가 */
    border-radius: 100%;
  }
  .userImageContainer{
    width: 100px;
    height: 100px;
  }
  .rankImage1,
.rankImage2,
.rankImage3,
.rankImage4,
.rankImage5,
.rankImage6 {
  background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.trainerRankImg{
  background-image: url(/public/img/trainerBall.png);
background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
background-repeat: no-repeat;
background-position: center;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.userImg{

  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 25%,
    rgb(0, 231, 255, 0.7) 45%,
    rgb(255, 0, 231, 0.7) 55%,
    transparent 70%,
    transparent 100%
  );
  border-radius: 15px;
  width: 100px;
  height: 100px;
}
.userNick{
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.nick , .victory{
  font-family: "Source Code Pro";
color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
}

.h2{
  color: #FFF;
  font-size: 15px;
}
.p{
  max-width: 250px;
  font-size: 10px;
}
.h4{
  font-size: 20px;
}
.allTypes{
  background-image: url(/public/img/mainPokeball.png);
  width: 40px;
  height: 40px;
  background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
@media (max-width:1209px ){
  .navTypes {
    width: 20px;
    height: 20px;
    margin: 0px 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .settingContainer {
    margin-top: 20px;
    padding: 20px;
  background-color: transparent;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
      5px 12px 15px -10px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to bottom, #0057b35b 0%, rgba(255, 0, 0, 0) 100%);
  height: 30%;
    width: 250px;
  }
  .trainerSettingContainer {
    margin-top: 20px;
    padding: 20px;
  background-color: transparent;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4),
      5px 12px 15px -10px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to bottom, rgba(255, 0, 0, 0.233) 0%, rgba(255, 0, 0, 0) 100%);
      height: 30%;
    width: 250px;
  }
  .rankContainer {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative; /* 부모 요소에 상대적 위치를 설정하여 자식 요소의 절대 위치를 기준으로 설정 */
  }
  .rankImage {
    width: 100%; /* 적절한 크기로 설정 */
    height: 36.67px; /* 적절한 크기로 설정 */
    background-size: cover;
    position: relative; /* 툴팁 위치를 요소를 기준으로 설정하기 위해 필요 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 애니메이션 추가 */
    border-radius: 100%;
  }
  .userImageContainer{
    width: 100px;
    height: 100px;
  }

.userImg{

  background-image: linear-gradient(
    115deg,
    transparent 0%,
    transparent 25%,
    rgb(0, 231, 255, 0.7) 45%,
    rgb(255, 0, 231, 0.7) 55%,
    transparent 70%,
    transparent 100%
  );
  border-radius: 15px;
  width: 100px;
  height: 100px;
}
.userNick{
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.nick , .victory{
  font-family: "Source Code Pro";
color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
}

.h2{
  color: #FFF;
  font-size: 15px;
}
.p{
  max-width: 250px;
  font-size: 10px;
}
.h4{
  font-size: 16px;
}
.typeName{
  font-size: 12px;
}
.navTypes{
  max-width: 80px;
}
.allTypes{
  background-image: url(/public/img/mainPokeball.png);
  width: 20px;
  height: 20px;
  background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
}