*{
    margin:0;
    padding:0;
    box-sizing: border-box;

  }
  .page{
    background-image: url('/public/img/fantasy-style-galaxy-background.jpg');
    background-size: cover;
    background-position: center;

  }
  .body{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
  }

  .container{
    border-radius: 20px;
    padding: 30px 40px;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  
  .title{
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    color: #ffffff;
  }

  .txt_box{
    width: 500px;
    height: 65px;
    margin-top: 30px;
    padding: 15px 25px;
    border:2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
  }
  
  .txt_box input{
    width: 400px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
  }

  .txt_box input::placeholder{
    color: #ffffff;
    transition: opacity 0.3s;
  }

  .txt_box input:focus::placeholder {
    opacity: 0;
}

  .txt_box i{
    font-size: 32px;
    color: #ffffff;
  }
  .chk_bar{
    font-size: 15px;    
    color: #bababa;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px 20px;
  }

  .chk_bar > label:hover{
    color: white;
  }
  input[type=checkbox]{
    width: 20px;
    height: 15px;
  }

  .chk_bar a{ 
      font-size: 15px;
      text-decoration: none;
      color: #bababa;
    }

    .chk_bar a:hover{
      color: white;
    }

.btn_login{
  width: 500px;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 30px;
  color: #000000;
  border: 1px solid #bababa;
}
  
.register_bar {
  width: 500px;
  font-size: 15px;
  color: #bababa;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
} 
.register_bar > p> a{
  color: #bababa;
}

.register_bar > p> a:hover{
  color: white;
}
