.head {
  background-image: url('/public/img/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 130vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 10px;
}

.container {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  padding: 30px 40px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px black;
  width: 80%;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-family: "Aclonica", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 10px;
}

.error {
  height: 20px;
  opacity: 0;
  font-size: 13px;
  padding-left: 20px;
  color: red;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

.error.visible {
  opacity: 1;
}

.msg{
  color: red;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.password input::placeholder {
  color: #ffffff;
  transition: opacity 0.3s;
}

.password input:focus::placeholder {
  opacity: 0;
}

.password {
  width: 500px;
  height: 65px;
  margin: 10px auto;  /* 가운데 정렬을 위해 margin 설정 */
  padding: 15px 25px;
  border: 2px solid #bababa;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;  /* 수직 가운데 정렬 */
}

.password input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #ffffff;
}

.btn_submit {
  width: 230px;
  height: 65px;
  margin-top: 10px;
  padding: 15px 25px;
  border: 2px solid #bababa;
  border-radius: 50px;
  box-sizing: border-box;
  background: transparent;
  font-size: 20px;
  color: #000000;
  font-family: "Aclonica", sans-serif;
  background-color: #f6f6f6;
}

.btn_submit:hover {
  background-color: #ffffff;
}

@media (max-width: 699px) {
  .title {
    font-size: 35px;
  }

  .container {
    width: 80%;
    padding: 20px;
  }

  .password,
  .btn_submit {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 10px 0px;
  }

  .password {
    margin: 0;
  }

  .password input {
    font-size: 16px;
  }

  .btn_submit {
    width: 100%;
    font-size: 16px;
    margin-right: 0;
  }

  .msg {
    font-size: 11px;
    color: red;
    margin-top: 5px;
  }

  .error {
    font-size: 10px;
    padding-left: 10px;
  }

}