.container {
  padding: 20px;
  background-color: rgb(248, 248, 248);
  border-radius: 30px;
  width: 100%;
  max-width: 820px;
}
.title {
  font-size: 2em;
  margin: 40px;
  text-align: center;
  font-family: 'Bazzi';
}

.header {
  display: flex;
  flex-flow: row nowrap;
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.headerItem {
  width: 33%;
  margin: 10px;
  text-align: center;
  font-family: 'Bazzi';
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-top: 20px;
}

.cancel {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px 20px;
  cursor: pointer;
}

.link {
  color: black;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 0;
}

.mailSender, .mailSubject, .mailTimestamp {
  flex: 1;
  text-align: center;
}

.detail {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 15px;
  margin-bottom: 50px;
}

.detail > div {
  font-size: 20px;
  margin: 10px;
}

.button {
  width: 80px;
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 0 auto;
}
.sendMail {
  width: 90px;
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.button:hover, .sendMail:hover {
  background-color: #0056b3;
}
