.container {
  padding: 20px;
  margin: 0 auto;
  height: auto;
}

.title {
  font-size: 32px;
  margin: 50px 0;
  text-align: center;
  color: #333;
}

.subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.card {
  margin: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.cardInfo {
  width: 300px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.pokemonImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png) 14 0, pointer !important;
}

.cardtext {
  margin-top: 30px;
  margin-bottom: 10px;
}

.cardName {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.cardTypes, .cardAbilities {
  margin: 5px 0;
}
