.container {
  text-align: center; 
  background: radial-gradient(circle at 20% 40%, rgba(255, 182, 193, 0.6), transparent),
  radial-gradient(circle at 80% 60%, rgba(173, 216, 230, 0.6), transparent),
  radial-gradient(circle at 50% 70%, rgba(154, 223, 239, 0.6), transparent);
  background-repeat: repeat;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
  gap: 30px;
  font-family: 'ONE-Mobile-POP';
  flex-flow: row wrap;
}

.nav button {
  background: none;
  border: none;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 20px;
}

.nav button:hover {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  font-family: 'K2D';
  font-weight: bold;
}

.jumpUp {
  height: 150px;
}

.jump {
  height: 50px;
}