.container {
  width: 100%; 
  background: radial-gradient(circle at 20% 40%, rgba(255, 182, 193, 0.6), transparent),
              radial-gradient(circle at 80% 60%, rgba(173, 216, 230, 0.6), transparent),
              radial-gradient(circle at 50% 70%, rgba(154, 223, 239, 0.6), transparent);
  background-repeat: repeat;
  padding: 20px;
  padding-top: 150px; 
  margin: 0 auto;
  height: 1500px; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile button {
  background: none;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
}

.profile button:hover {
  font-weight: bold;
}

.profileSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

.profileSection img {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
}

.email {
  max-width: 200px;
}

.emailSection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.emailSection label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.emailSection input[type="email"] {
  width: 300px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.emailSection select {
  width: 185px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.update_btn {
  width: 150px;
  padding: 10px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: #ff4b5c;
  color: white;
  font-size: 16px;
}

.cancel {
  width: 150px;
  padding: 10px;
  margin: 10px 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
