
.container{
    position: absolute;
    width: 100%;
    z-index: 10;
}

.container ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.container ul li {
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
    width: 100%;
}

.container ul li a{
    color: white;
    text-shadow: 0 0 4px black;
}

.menuimg{
    width: 172px;
    height: auto;
    cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png) 14 0, pointer !important;
}

@media (max-width: 904px) {
    .container ul li {
        list-style-type: none;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
        width: 100%;
    }
}

@media (max-width: 699px) {
    
    .scrolled {
        background-color: #272727;
    }

    .container{
        height: auto;
    }

    .container ul {
        flex-direction: row nowrap;
        justify-content: flex-start;
    }

    .container ul li {
        display: none;
    }
    .menuimg{
        width: 81px;
        height: auto;
        margin-top: 15px;
        margin-left: 20px;
    }
   
}
