*{
    margin:0;
    padding:0;
    box-sizing: border-box;

  }
  .page{
    background-image: url('/public/img/fantasy-style-galaxy-background.jpg');
    background-size: cover;
    background-position: center;

  }

  .body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
  }
  .container{
    border-radius: 20px;
    padding: 30px 40px;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }

  .title{
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    color: #ffffff;
  }

  .error{
    font-size: 12px;
    padding-left: 20px;
    color: red;
    font-weight: bold;
  }

  .txt_box{
    width: 500px;
    height: 65px;
    margin-top: 30px;
    padding: 15px 25px;
    border:2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
  }
  
  .txt_box input{
    width: 400px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
  }

  .txt_box input::placeholder{
    color: #ffffff;
    transition: opacity 0.3s;
  }

  .txt_box input:focus::placeholder {
    opacity: 0;
}

.email{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.email_box {
    width: 280px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px 25px;
    border: 2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .email_box input {
    width: 200px;
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
  }

  .email_box input::placeholder{
    color: #ffffff;
    transition: opacity 0.3s;
  }

  .email_box input:focus::placeholder {
    opacity: 0;
}

.email_option {
    width: 200px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 15px 25px;
    border: 2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

.email_option select {
    width: 150px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
  }

  .email_option select option {
    color: #000000;
  }
  .name{
    width: 500px;
    height: 65px;
    margin-top: 30px;
    padding: 20px 25px;
    border:2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
  }
  
  .name input{
    width: 400px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
  }

  .name input::placeholder{
    color: #ffffff;
    transition: opacity 0.3s;
  }

  .name input:focus::placeholder {
    opacity: 0;
}

.nick{
    width: 500px;
    height: 65px;
    margin-top: 30px;
    padding: 20px 25px;
    border:2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    
  }
  
  .nick input{
    width: 400px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
  }

  .nick input::placeholder{
    color: #ffffff;
    transition: opacity 0.3s;
  }

  .nick input:focus::placeholder {
    opacity: 0;
}

.btn_submit{
    width: 230px;
    height: 65px;
    margin-top: 30px;
    padding: 20px 25px;
    border:2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
    margin-right: 40px;
}

.btn_cancel{
    width: 230px;
    height: 65px;
    margin-top: 30px;
    padding: 20px 25px;
    border:2px solid #bababa;
    border-radius: 50px;
    box-sizing: border-box;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
}

@media screen and (max-width:480px) {
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;

  }
 
  .page{
    background-image: url('/public/img/fantasy-style-galaxy-background.jpg');
    background-size: cover;
    background-position: center;

  }

  .body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
  }
  .container{
    width: 70%;
  }

  .title{
    font-size: 100%;
  }


  .name{
    width: 100%;
  }
  
  .name input{
    width: 100%;
    font-size: 70%;
  }

  .txt_box{
    width: 100%;
  }

  .txt_box input{
    width: 100%;
    font-size: 70%;
  }

  .email_box {
    width: 100%;
  }

  .email_box input {
    width: 100%;
    font-size: 70%;
  }
  .email_option {
    width: 100%;
  }

.email_option select {
    width: 100%;
    font-size: 70%;
  }


}