/* battle.module.css */
.html {
    display: flex;
    flex-flow: row nowrap;
}

.App {
    font-family: Arial, sans-serif;
    max-width: 2000px;
    background-color: antiquewhite;
  }
  
  .stage {
    border: 1px solid black;
    height: 900px;
  }
  
  .selectedPokemonContainer {
    display: flex;
    flex-wrap: row nowrap;
    gap: 20px;
  }
  
  .enemyContainer {
    border: 1px solid red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  
  .body {
    border: 1px solid green;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 50px;
    height: 200px;
  }
  
  .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; /* 중앙 정렬 추가 */
    margin-top: 20px;
  }
  
  .menu button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
  }
  
  .pokemonCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px);
    text-align: center;
    background-color: aqua;

  }

  
  .vs {
    background-image: url(/public/img/vs.png);
    width: 100px;
    height: 200px;
    background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .pokemonCard h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .pokemonCard p {
    margin: 5px 0;
  }
  
  .pokemonAttacks {
    margin-top: 10px;
  }
  
  .attack {
    margin-top: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  
  .attack p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .hpBarContainer {
    background-color: #eee;
    border-radius: 5px;
    margin: 10px 0;
    padding: 3px;
    width: 100%;
    max-width: 200px;
    height: 24px;
    position: relative;
  }
  
  .hpBar {
    background-color: #4caf50;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 24px;
    height: 100%;
  }
  
  .types {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px 0;
    align-items: center;
  }
  .typeLogoContainer{
    background-color: #4caf50;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .typeLogo {
    width: 60%;
    height: 60%;
    margin: 0 5px;
    background-size: contain; /* contain, auto, 100% 100% 등으로 변경 가능 */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  
  .typeLogoContainer.colorless {
    background-color: rgb(160, 162, 159); /* Colorless */
  }
  
  .typeLogoContainer.darkness {
    background-color: rgb(30, 52, 57); /* Darkness */
  }
  
  .typeLogoContainer.dragon {
    background-color: rgb(121, 107, 68); /* Dragon */
  }
.typeLogoContainer.colorless {
  background-color: #A8A878; /* Colorless */
}

.typeLogoContainer.darkness {
  background-color: #705848; /* Darkness */
}

.typeLogoContainer.dragon {
  background-color: #7038F8; /* Dragon */
}

.typeLogoContainer.fairy {
  background-color: rgb(238, 144, 230); /* Fairy */
}

.typeLogoContainer.fighting {
  background-color: rgb(142, 67, 27); /* Fighting */
}

.typeLogoContainer.fire {
  background-color: rgb(221, 25, 25); /* Fire */
}

.typeLogoContainer.grass {
  background-color: rgb(95, 189, 88); /* Grass */
}

.typeLogoContainer.lightning {
  background-color: rgb(242, 217, 78); /* Lightning */
}

.typeLogoContainer.metal {
  background-color: rgb(91, 86, 84); /* Metal */
}

.typeLogoContainer.psychic {
  background-color: rgb(114, 75, 141); /* Psychic */
}

.typeLogoContainer.water {
  background-color: rgb(83, 157, 223); /* Water */
}
/* --------------------------------------------------------------------- */
.pokemonName{
  padding-left: 5px;

  font-family: "Source Code Pro";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
}
  

  