html{
  /* background-image: url(/public/img/backgroundImage.jpg); */
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  background-color: palegoldenrod;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container{
    border: 1px solid black;
    /* background-color: #000; */
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  width: 2000px;
}

.pokemonCardImage{
    width: 228px;
    height: 318px;
    background-image: url(/public/img/testPokemonCard.png);
    background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
  
}
.pokemonCardAttackMethod{
  display: flex;
  flex-direction: row;
}
.pokemonCardInfo{
  display: flex;
  flex-direction: column;
}
ul {
    list-style-type: none;
    padding: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 0px;
    border-radius: 20px;
    /* opacity: 0.5; */
}

li{
    padding: 5px 0;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 2px;
    font-family: "Source Code Pro";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
}
p{
  margin: 0px;
}
.hp{
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: "Source Code Pro";
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
}

.pokemonName{
    width: 100%;
}
.pokemonAttack{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.enemyPokemonInfo{
  display: flex;
  flex-flow: row wrap;
}
/* 슬라이더 색상 변경 */
input[type="range"] {
    -webkit-appearance: none; /* 기본 스타일 제거 */
    width: 100%;
    height: 8px; /* 슬라이더 높이 */
    background: #4CAF50; /* 슬라이더 색상 */
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
  
input[type="range"]:hover {
    opacity: 1; /* 호버 시 불투명도 */
}
  


input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}
  
input[type="range"]::-ms-fill-lower {
    background: #4CAF50; /* 슬라이더 색상 */
}
  
input[type="range"]::-ms-fill-upper {
    background: #4CAF50; /* 슬라이더 색상 */
}
  
input[type="range"]::-ms-thumb {
    width: 20px; /* 슬라이더 버튼 크기 조정 */
    height: 20px; /* 슬라이더 버튼 크기 조정 */
    background: #FFF; /* 슬라이더 버튼 색상 */
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #4CAF50;
}
input[type="range"]::-webkit-slider-thumb {
  display: none; /* Chrome, Safari, Opera */
}



/* 옵션: 전체적으로 버튼 모양의 스타일을 없애기 위해 아래와 같이 추가 */
input[type="range"] {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
}
input[type="range"].grayed {
  background-color: rgb(160, 162, 159); /* 회색 배경색 */
}

/* ------------------------------------------------------------------------------ */
.head{
    border: 1px solid green;
    width: 30%;
    height: 500px;
    float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.body{
    border: 1px solid skyblue;
    width: 30%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 50px; */
}

.body > button{
    margin: 0px 70px;
    margin-bottom: 22px;
    padding: 10px;
    border: none;
    color: #FFF;
    background-color: #000;
}
.vs{
  margin-top: 200px;
  background-image: url(/public/img/vs.png);
  width: 100px;
  height: 200px;
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}


.foot{
    border: 1px solid crimson;
    width: 30%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.attackMethod{
    border: 1px solid pink;
    display: flex;
    flex-flow: row wrap;
    float: right;
}

.attackMethod button {
    margin: 2px 2px;
    display: block; /* 버튼을 블록 요소로 만듭니다 */
    width: 100%; /* 버튼의 너비를 부모 요소에 맞춥니다 */
    border: none; /* 버튼의 기본 테두리를 제거합니다 */
    padding: 10px; /* 버튼에 패딩을 추가합니다 */
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 2px;
    font-family: "Source Code Pro";
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    border: solid 2px #fff;
    background-color: transparent;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
    color: #fff;
}

.attackMethod button:hover{
    background-color: #FFF;
    color: #000;
}
.bottomMenu{
  display: flex;
  flex-flow: row wrap;
}
.attackMethod , .PokemonList {
  display: flex;
  flex-flow: row wrap;
 

}
.attackMethod , .PokemonList > a {
margin: 5px 40px;

}
.ItemCardList > a{
  margin: 5px 40px;

}
.ItemCardList {
  display: flex;
  flex-flow: row wrap;

}
/* -------------------------------------------------- */
.pokemon1{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/pokemon1.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  
}
.pokemon2{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/pokemon2.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  
}
.pokemon3{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/pokemon3.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  
}
.pokemon4{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/pokemon4.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  
}
.pokemon5{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/pokemon5.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  
}
.selectedPokemon{
  width: 228px;
  height: 318px;
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
.pokemonImage{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/pokemonImage.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
/* ------------------------------------------------------------------------------------------------------- */
.item1{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/item1.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
.item2{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/item2.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
.item3{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/item3.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
.item4{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/item4.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
.item5{
  width: 228px;
  height: 318px;
  background-image: url(/public/img/item5.png);
  background-size: cover; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
}
/* ----------------------------------------------------------------------------------------------------------- */
.waterImage{
  background-image: url(/public/img/waterType.png);
  background-size: 10px 15px; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgb(83, 157, 223) ;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.colorlessImage{
  background-image: url(/public/img/colorlessType.png);
  background-size: 10px 10px; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgb(160, 162, 159) ;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.grassImage{
  background-image: url(/public/img/grassType.png);
  background-size: 10px 10px; /* contain, auto, 100% 100% 등으로 변경 가능 */
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgb(95, 189, 88) ;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}