.container {
    background-image: url('/public/img/backgroundImg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 105vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

@media (min-width: 320px) {
    .container{
        min-height: 120vh;
    }
}
