*{
    margin: 0;
    padding: 0;
}

.container > ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container > ul > li{
    list-style-type: none;
}

.container > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    
}

.pokeimg{
    width: 192px;
    height: 122px;
}

@media screen and (max-width:480px) {

    .container > ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .container > ul > li > a{
        color: white;
        text-decoration: none;
        font-size: 90%;
        
    }
    .pokeimg{
        width: 81px;
        height: 61px;
    }
}